*{
  font-size: 24px;
  color: black;
  margin: 0;
  padding: 0 0 0 0;
  margin:0 0 0 0;
}
.container-fluid{
  padding: 0px 0px 0px 0px !important;
}
.login{
  margin-top: 3%
}
.divFormulario{
  text-align: center;
  margin-top: 10%;
  display: block;
}
.checkBoxes{
  margin-top: 1%;
  font-size: 16px;
}
.checkBoxes span{
  font-size: 16px;
  margin-right: 1%;
}
#cajatexto input{
  
}

.cabecera{
  padding: 5% 0% 5% 0%;
  background-color: #2902BA;
}
.login{
  text-align: center;
}
/*Media querys para diseño responsive*/

@media (min-width: 640px) {

}

/*Tablet*/
@media (min-width: 321px) and (max-width: 639px) {

}

/*Movil*/
@media (max-width: 320px) {


}
