input{
  padding: .2em;
}
input:focus{
  outline: none;
}
input#nombre:focus, input#apellidos:focus, input#email:focus, input#fecha:focus, input#poblacion:focus, input#telefono:focus, input#nomusu:focus, input#pass:focus, input#repass:focus {
  border: 2px solid purple;
  background: gray;
}
input{
  border-radius: 4px;
  margin-bottom: 20px;
  display: grid;
}
input#mujer{
  margin-left: 10px;
}
label{
  float:left;
  width: 20%;
}
select{
  width: 90px;
  margin-bottom: 20px;
}
textarea{
  height: 40px;
  overflow-y: scroll;
  overflow-x: scroll;
}
